@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
*{
        font-family: "Stylish", serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      
}
body{
    margin-top: 50px;
    background-color:#006266;
    width: 100vw;
    user-select: none;
    background-image: url(img/glitter.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: white;
     background-size: cover;
        min-height: 100vh;
    p{
        
    animation: body linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    }

    .btf{
        margin: 0px;
        padding: 0px;
    animation: img 4s  ease infinite;
    transform-origin:  right bottom;
    animation-direction: alternate;
    float: left ;
    width: 100px;
    height: 100px;
    }
    
}
@keyframes body {
    from{
        opacity: 0.1;
        scale: 0.5;
    }
    to{
        opacity:2;
        scale: 1;
    }
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #009432;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 3;
    
}
.logo{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.header button{
    width: 50px;
    flex-shrink: 0;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.bar{
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
}
.links{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 250px;
    background-color: #fff;
}
.link{
    display: flex;
    align-items: center;
    padding: 12px 15px;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    color: #333;
}
.link.active,
.link:hover{
    color: #009432;
    background-color: #ecf0f1;

}
.links{
    transform: translateX(-250px);
    transition: 0.5s;
}

.open .links{
    transform: translateX(0px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.open .nav-overlay{
    visibility: visible;
    opacity: 1;
}
.welcome{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    img{
        float: right;
    }
    .btf{
        margin: 0px;
        padding: 0px;
    animation: img smooth  ease infinite;
    transform-origin:  right left;
    animation-direction: alternate;
    float: right ;
    width: 200px;
    height: 200px;
    background-color: none;
    }
}


.content{
   
    padding: 10px;
}

img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.footer img{
    height: auto;
    width: 100vw;
    padding: 200px;
    
        
        animation: body linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        
    }
    

@keyframes bg {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 50%;
    }
    100%{
        background-position: 0%;
    }
    
}

h2{
    background: rgb(0,98,102);
background: linear-gradient(90deg, rgba(0,98,102,1) 16%, rgba(0,148,50,1) 23%, rgba(0,148,50,1) 50%, rgba(163,203,56,1) 66%, rgba(196,229,56,1) 86%);
color: transparent;
background-clip: text;
background-size: 400% 400%;
animation: bg 5s ease infinite;
font-size: 100px;
    text-align: center;
img{
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: 30px;
    animation: img 4s  ease infinite;
    transform-origin:  right left;
    animation-direction: alternate;
}
}
.btf{
    padding: 30px;
    animation: img 4s  ease infinite;
    transform-origin:  right left;
    animation-direction: alternate;
}
@keyframes img {
    from{
        transform: rotate(0 );
    }
    to{
        transform: rotate(30deg);
    }
}
h3{
    font-size: 60px;
    background-image: url(img/glitter1.gif);
    color: transparent;
    background-clip: text;
}
h4{
    background-image: url(img/glitter1.gif);
    color: transparent;
    background-clip: text;
}
h4,p{
    font-size:30px ;
    padding: 20px;
}
li{
    padding-left: 10px;
    font-size: 20px;
    list-style-type: decimal;
    list-style-position: inside;
}
.methods{
    img:nth-child(even){
        border-radius: 25%;
        float: left;
        padding: 20px;
    }
    img:nth-child(odd){
        border-radius: 25% ;
        float: right;
        padding: 20px;
    }
    img:hover{
        
        width: 300px;
        height: 300px;
        transition-property: linear;
    }
}
    

.Executive{
    img{
        border-radius: 0;
        animation: Executive 2s linear infinite;
        padding: 20px;
    }
    img:nth-child(even){
        border-radius: 50% 0 50% 0;
        float: left;
    }
    img:nth-child(odd){
        border-radius: 0 50% 0 50% ;
        float: right;
    }
    
}
@keyframes Executive {
    0%{
        border-radius: 50% 0 50% 0;
    }  
     25%{
        border-radius: 50% 50% 50% 50%;
    } 
    50%{
        border-radius: 0 50% 0 50% ;
    } 
    75%{
        border-radius: 50% 50% 50% 50% ;
    }   
    100%{
        border-radius: 50% 0 50% 0;
    }    
}


@media screen and ( max-width: 600px) {
    body{
        background-image: url(img/glitter.gif);
        background-size: cover;
        min-height: 100vh;
    }
        
        h2{
            font-size: 50px;
        }
        h3{
            font-size: 30px;
        }
        h4,p{
            font-size:15px ;
        }
        li{
            font-size: 10px;
        }
        .footer img{
            padding: 50px;
            }
    
}

